.quantity {
    display: flex;
    align-items: center;
    button {
        width: 30px;
        height: 30px;
        background: none;
        border: 1px solid gray;
        cursor: pointer;
    }
    .nums {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-block: 1px solid gray;
    }
}