footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    height: 70px;
    // padding-bottom: 20px;
    // margin-top: 40px;
    position: relative;
    // bottom: 0;
    border-top: 1px solid rgb(172, 172, 172);
    >.left {
        display: flex;
        align-items: center;
        >img {
            width: 50px;
            filter: invert(100%);
        }
        >h1 {
            font-weight: 400;
            margin-left: 20px;
        }
    }
}