footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    padding-block: 20px;
    >.left {
        display: flex;
        align-items: center;
        >img {
            width: 50px;
            filter: invert(100%);
        }
        >h1 {
            font-weight: 400;
            margin-left: 20px;
        }
    }
}