footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    height: 70px;
    position: relative;
    border-top: 1px solid rgb(172, 172, 172);
    >.left {
        display: flex;
        align-items: center;
        >img {
            width: 50px;
            filter: invert(100%);
        }
        >h1 {
            font-weight: 400;
            margin-left: 20px;
        }
    }
    p {
        margin-left: 20px;
    }
}
@media screen and (max-width: 422px) {
    footer {
        >.left {
            >img {
                width: 40px;
                filter: invert(100%);
            }
            >h1 {
                font-size: 26px;
                font-weight: 400;
                margin-left: 10px;
            }
        }
    }
}