.Hero-section {
    height: 100vh;
    width: 100%;
    position: relative;
    // background-image: linear-gradient(to bottom, #20175b, #161647, #111233, #0e0c1f, #030307);
    padding-top: 60px;

    >.stoked-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        z-index: 2;

        h1 {
            font-family: 'Roboto';
            font-weight: 900;
            font-style: italic;
            font-size: 12vw;
            color: transparent;
            -webkit-text-stroke: 1.5px rgb(103, 103, 103);

            &:nth-child(1) {
                margin-left: 10vh;
            }
        }
    }

    >.hero-image-section {
        z-index: 3;
        position: absolute;
        // width: 40vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: updown infinite 1700ms linear;
        display: flex;
        // overflow-x: auto;

        // >.hero-images {
        //     border: 1px solid white;
        //     height: 100vh;
        //     width: 95vw;
        //     display: flex;
        //     align-items: center;
        //     justify-content: space-between;
        //     // position: relative;
        //     // overflow: hidden;
        //     scroll-behavior: smooth;
        //     pointer-events: none;
        >img {
            height: 30.3vw;
            width: 40vw;
            filter: drop-shadow(0px 25px 50px rgb(0, 0, 0));
            margin-inline: 25vw;
            transition: all 0.3s;
            // position: absolute;
            // &:nth-child(1){
            //     top:0;
            // }
            // &:nth-child(2){
            //     top: 30.3vw;
            // }
            // &:nth-child(3){
            //     top: calc(30.3vw * 2);
            // }
            // &:nth-child(4){
            //     top: calc(30.3vw * 3);
            // }
        }

        // }
    }

    .svg {
        position: absolute;
        left: 65%;
        top: 9%;
        fill: rgba(255, 255, 255, 0.546);
        transform: translate(-65%, -9%);
    }

    >.hero-discount {
        z-index: 4;
        position: absolute;
        top: 25%;
        left: 75%;
        transform: translate(-75%, -25%);
        height: 50px;
        width: 180px;
        background-color: rgba(107, 107, 107, 0.45);
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        // animation: updown infinite 3s linear;
        >.percent {
            border: 1px solid white;
            background: white;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            >svg {
                font-size: 20px;
                fill: black;
            }
        }

        >p {
            
            font-weight: 500;
        }
    }

    // >.image-switcher {
    //     // border: 1px solid red;
    //     position: absolute;
    //     top: 50%;
    //     left: 98%;
    //     transform: translate(-98%, -50%);
    //     display: flex;
    //     flex-direction: column;
    //     >button {
    //         margin-block: 10px;
    //         height: 8px;
    //         width: 8px;
    //         border: none;
    //         border-radius: 50%;
    //     }
    // }

    >.hero-image-details {
        position: absolute;
        bottom: 50px;
        left: 50px;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        >.featured {
            border: none;
            border-radius: 20px;
            background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
            // background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
            width: 150px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;

            p {
                
                font-size: 1rem;
                letter-spacing: 3px;
                font-weight: 500;
            }
        }

        >.collections {
            h1 {
                
                font-size: 3rem;
                    color: brown;

                span {
                    &:nth-child(1) {
                        color: transparent;
                        background-image: linear-gradient(to right, #ffd500 0%, #ff4e50 100%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -moz-background-clip: text;
                    }

                    &:nth-child(2) {
                        display: block;
                        color: transparent;
                        font-size: 3.2rem;
                        -webkit-text-stroke: 2px rgba(0, 0, 0, 0.751);
                        letter-spacing: 3px;
                    }
                }
            }
        }

        >.btns {
            display: flex;
            justify-content: space-between;

            button {
                width: 150px;
                height: 35px;
                
                font-size: 1rem;
                border-radius: 10px;
                cursor: pointer;

                &:nth-child(1) {
                    // background: #00afff;
                    background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
                    border: none;
                    font-weight: 900;
                    letter-spacing: 1px;
                    // text-shadow: 0px 0px 2px black;
                }

                &:nth-child(2) {
                    background: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #ff4e50;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;

                    &::before {
                        content: "";
                        width: 150px;
                        height: 35px;
                        // background: #ff4e50;
                        // background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 100%);
                        background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
                        position: absolute;
                        left: -101%;
                        transition: left 0.3s;
                        z-index: -1;
                    }

                    &:hover {
                        border: 1px solid #2575fc;

                        &::before {
                            left: 0;
                        }
                    }

                    >svg {
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    >button {
        background: none;
    }
    .next {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
    }
    .prev {
        position: absolute;
        top: 50%;
        left: 95%;
        transform: translateY(-50%);
    }
}