.NotAvailable {
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    >h1 {
        font-size: 5rem;
        font-weight: 900;
        background: url('https://i.gifer.com/7Ik1.gif');
        background-clip: text;
        color: transparent;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.171)
    }
    >p {
        font-size: 1.5rem;
    }
}