.parentComp {
    position: relative;
    &:hover {
        transform: scale(1.03);
    }
    .ProductCard {
        width: 328px;
        overflow: hidden;
        border-radius: 5px;
        text-decoration: none;
        &:hover {
            >.addToCart {
                opacity: 1;
            }
        }
        >img {
            height: 328px;
            width: 328px;
            border-radius: 5px;
            // border: 1px solid rgb(255, 0, 0);
        }
        >.desc{
            padding-inline: 2px;
            >.brandStar {
                border-block: 1px solid rgb(193, 193, 193);
                padding-block: 10px;
                display: flex;
                justify-content: space-between;
            }
            >.name {
                font-weight: 500;
                padding-top: 5px;
            }
            >.price {
                font-weight: 500;
                padding-top: 5px;
                >span {
                    margin-right: 9px;
                    text-decoration: line-through;
                    color: gray;
                }
            }
        }
    }
}