.ProductDetails {
    min-height: calc(100vh - 90px);
    padding-top: 120px;
    padding-inline: 60px;

    >.imageDesc {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        min-height: 394px;
        >.imgSection {
            display: flex;
            align-items: center;
            justify-content: center;
            >.imgsDiv {
                margin-right: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                >img {
                    width: 70px;
                }
            }
            >img {
                width: 350px;
            }
        }

        >.right {
            width: 350px;
            height: 394px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 50px;
            >p {
                >span {
                    margin-left: 5px;
                    color: green;
                }
            }
            >.cartDiv {
                position: relative;
                height: 45px;
                display: flex;
                align-items: center;
                >.addToCart {
                    opacity: 1;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    >.reviewsDiv {
        padding-top: 50px;
        margin-bottom: 20px;
        >.cont {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            >h1 {
                font-size: 2.5rem;
            }
        }
        .reviewsContainer {
            margin-bottom: 30px;
            display: flex;
            flex-wrap: wrap;
            >p{
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        >form {
            border: 1px solid rgb(167, 54, 54);
            padding: 2vw;
            >p{
                font-size: 20px;
                margin-bottom: 1vw;
                span {
                    color: red;
                }
            }
            >input {
                height: 40px;
                width: 300px;
                margin-bottom: 1vw;
                font-size: 20px;
                padding-inline: 10px;
                color: rgb(57, 57, 57);
            }
            textarea {
                height: 100px;
                width: 100%;
                margin-bottom: 1vw;
                padding: 10px;
                font-size: 20px;
                color: rgb(57, 57, 57);
                resize: none;
            }
            svg {
                font-size: 20px;
            }
            button {
                margin-top: 1vw;
                width: 100px;
                height: 35px;
                background: rgb(255, 103, 47);
                border: none;
                color: white;
                font-size: 17px;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .ProductDetails {
        padding-top: 70px;
    
        >.imageDesc {
            justify-content: center;
            >.imgSection {
                flex-direction: column-reverse;
                >.imgsDiv {
                    flex-direction: row;
                    margin-top: 10px;
                    >img {
                        border: 1px solid rgb(210, 210, 210);
                    }
                }
            }
    
            >.right {
                width: 100%;
                margin-left: 0px;
                >p {
                    margin-block: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: 470px) {
    .ProductDetails {
        padding-inline: 15px;
    }
}