.Shop {
    min-height: calc(100vh - 70px);
    // background: rgb(72, 222, 102);
    padding-top: 60px;
    padding-inline: 60px;

    >h1 {
        margin: 20px;

        >span {
            color: red;
        }
    }

    >.searchDiv {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;

        >div {
            display: flex;
            align-items: center;
            font-size: 22px;
            cursor: pointer;
        }

        >.inpBtn {
            width: 50%;
            display: flex;

            input {
                width: 100%;
                height: 40px;
                font-size: 20px;
                padding-left: 20px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                border: 1px solid gray;
                border-right: none;
            }

            button {
                height: 40px;
                width: 80px;
                border: 1px solid gray;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                cursor: pointer;

                >svg {
                    font-size: 20px;
                }
            }
        }

        >select {
            height: 40px;
            font-size: 16px;
            border-radius: 10px;

            option {
                font-size: 17px;
            }
        }
    }

    >.shopContainer {
        width: 100%;
        display: flex;

        // border: 1px solid red;
        >.filterDiv {
            width: 0px;
            height: 76vh;
            overflow: hidden;
            // border: 1px solid rgb(0, 255, 13);
            // background: rgb(239, 239, 239);
            transition: all 0.3s;
            h2 {
                margin-block: 2.5px;
            }
            p {
                font-size: 18px;
                padding-block: 2.5px;
                padding-left: 5px;
                cursor: pointer;
            }
        }

        .open {
            width: 300px;
        }

        >.products {
            width: 100%;
            // border: 1px solid rgb(0, 51, 255);
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(auto-fit, min(328px));
            grid-template-rows: auto;
            justify-content: space-evenly;
            justify-items: center;
            align-content: space-evenly;
            align-items: center;
        }
    }
}