.Content {
    margin-bottom: 100px;
    // border: 1px solid red;

    >h1 {
        margin-block: 15px;
    }

    .over {
        position: relative;
        // border: 1px solid red;
        >.left,
        .right {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            // height: 100px;
            width: 40px;
            border: none;
            background: none;
            cursor: pointer;
            // border: 1px solid rgb(179, 179, 179);
            // background: rgb(227, 227, 227);
            >svg {
                font-size: 40px;
                transition: none !important;
                &:hover {
                    fill: #ffbf26;
                }
            }
        }

        >.left {
            left: -40px;
        }

        >.right {
            right: -40px;
        }
        >.swipeCont {
            display: flex;
            width: 100%;
            // border: 1px solid red;
            scroll-behavior: smooth;
            overflow-x: auto;
        }
    }

    

    // .swipe {
    // cursor: grab;
    // height: 330px;
    // }
    // .swiper-scrollbar-drag {
    //     background-color: #000000;
    //     // height: 1px;
    // }
}