.Trending-Latest {
    padding-top: 50px;
    padding-inline: 50px;
}
.gallery-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    @media screen and (min-width: 759px) {
        padding-inline: 50px;
    }
}

.aft {
    margin-block: 30px;
    margin-left: 50px;
}

.remarks {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.advantages {
    padding-inline: 50px;
    margin-block: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 100px;
}