.gallery-section {
    // padding: 50px 50px 0 50px;
    // padding-left: 50px;
    // div {
    display: flex;
    // align-items: ;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // }
    @media screen and (min-width: 759px) {
        padding-inline: 50px;
    }
}

.aft {
    margin-block: 30px;
    margin-left: 50px;
}

.remarks {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.advantages {
    padding-inline: 50px;
    margin-block: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 100px;
    // border: 1px solid red;
}


// >video {
//     width: 100vw;
// }


